
.ban_item {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.banner {
  position: absolute;
  text-align: center;
  z-index: 1;
  left: 0;
  bottom: 50%;
  right: 0;
  .banner_title {
    font-size: 6rem;
    color: $brown;
  }
}

/* video switch */
.video_switch-container {
  font-size: 1.75rem;
  display: none;
}

@include respond-above(md) {
  .video_switch-container {
    display: block !important;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 100;
  }
  .video_switch {
    position: relative;
    width: 5rem;
    background: $brightYellow;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    cursor: pointer;
    border-radius: 0.5rem;
  }
  .video_switch-btn {
    position: absolute;
    top: 0;
    left: 0;
    background: $brown;
    height: 100%;
    width: 50%;
    transition: all 0.3s linear;
    border-radius: 0.5rem;
  }
  .btnSlide {
    left: 50%;
  }
}
