.contact-item {
  color: $brightYellow;
}

.contact-item__title {
  font-size: 3em;
  text-transform: capitalize;
}
.contact-item__text {
  color: $grey;
  line-height: 1em;
  letter-spacing: 0.05em;
}
