@import "mediaQuery";

.brand-logo {
  width: 50px;
  height: 40px;
}
.dropdown-menu .show {
  left: 10% !important;
}
.navbar-nav {
  flex-direction: row !important;
  .dropdown-menu {
    background-color: rgba(242, 180, 80, 0.9);
    position: absolute !important;
    right: 30%;
    font-size: 1.2em;
    &[data-bs-popper] {
      left: -100px;
    }
  }
}

.navbar {
  z-index: 100;
  background-color: rgba(242, 180, 80, 0.9) !important;
  transition: all 1s ease-in-out;
}
.navbar-brand {
  font-size: 1.2em !important;
}
.navBtn .bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: $brightYellow;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px;
}

.navBtn {
  z-index: 10;
  position: fixed;
  top: 5%;
  right: 5%;
  cursor: pointer;
  animation: tada;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: none;
}

.change {
  .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .bar2 {
    opacity: 0;
  }
  .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
}

.nav-item {
  margin: 0 5px;
}

@include respond-below(lg) {
  .navbar {
    height: 0;
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .nav-show {
    width: 10rem !important;
    overflow: visible;
  }

  .navbar-nav {
    flex-direction: column !important;
  }

  .navBtn {
    animation: backInDown;
    animation-duration: 1.2s;
    display: block;
  }
  .container-fluid {
    flex-direction: column !important;
  }

  .dropdown-menu[data-bs-popper] {
    left: 60px !important;
  }
}
