.cart-container {
  right: 0;
  top: 13%;
  position: fixed;
  width: 3em;
  height: 3em;
  padding: 0.4rem;
  background: $brightYellow;
  border-radius: 10px 0 0px 10px;
  display: flex;
  align-items: center;
  transition: ease-out 0.8s;
  z-index: 999;
  .cart-icon {
    display: inline;
  }
  &:hover,
  &:active {
    width: 10em;
  }
}

.cart-Qty-inpt {
  width: 2em !important;
}
.cart-img > img {
  margin-right: 0.5em;
  width: 3em;
  height: auto;
}
