.card-title {
  color: $brightYellow;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  button {
    border: none;
    width: 1.8em;
    border-radius: 0.2em;
    background-color: $darkBrown;
    text-align: center;
    font-size: 1.5rem;

    &:hover {
      background-color: $brightYellow;
    }
  }
}
.card-text {
  color: $grey;
}

.prod-name {
  text-transform: capitalize;
  font-weight: 500;
  color: $brightYellow !important;
}
