.container-prod-banner {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  padding: 0 5em;
  width: 100%;
}

.prod-banner {
  flex: 1;
  width: 20em;
  margin-right: 1.2em;
  color: $brightYellow;
  h1 {
    font-size: 3em;
  }
  .prod-banner-text {
    color: $grey;
  }
}

.prod-banner-img {
  width: 20em;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  &::before {
    content: "";
    position: absolute;
    right: 5%;
    top: -5%;
    bottom: 5%;
    border: 10px solid $darkBrown;
    width: 100%;
    z-index: -1;
  }
}
